<?php

// Config for testing.

use Liloi\Config\Pool;
use Liloi\Config\Sparkle;

// Root application URL.
define('ROOT_URL', '');

// Database table-name prefix.
(function () {Pool::getSingleton()->set(new Sparkle('prefix', function () {return 'vicards_';}));})();

(function() {
    // Database connection parameters.
    $connection = [
        'host' => '',
        'user' => '',
        'password' => '',
        'database' => ''
    ];

    Pool::getSingleton()->set(new Sparkle('connection', function () use ($connection) {
        return $connection;
    }));
})();